* {
    font-family: "comic sans", sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 800 px;
}

h2 {
    font-weight: 150;
    font-size: 400 px;
}

h3 {
    font-weight: 75;
}

img {
    border: 50 px;
    border-color:black;
    margin: 100 px;
}